<div class="main">
    <div *ngIf="isFirst">
        <p>{{myVisibleQues[currentIndex].question}}</p>
        <span *ngFor="let option of myVisibleQues[currentIndex].options; let i = index">
            <app-radio [type]="myVisibleQues[currentIndex].type" [value]='i'
                (click)="selectedOption(myVisibleQues[currentIndex].options[i].option)">{{option.option}}</app-radio>
        </span>
    </div>
    <div *ngIf="!isFirst">
        <p>{{filterQuestion[currentIndex].question}}</p>
        <span *ngFor="let option of filterQuestion[currentIndex].options; let i = index">
            <app-radio [type]="filterQuestion[currentIndex].type" [value]='i'
                (click)="selectedOption(filterQuestion[currentIndex].options[i].option)">{{option.option}}</app-radio>
            <app-checkbox [type]="filterQuestion[currentIndex].type"
                (click)="selectedOption(filterQuestion[currentIndex].options[i].option)">{{option.option}}</app-checkbox>
        </span>
    </div>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="prev()"
            [disabled]="selectedOptions.length != 0">Previous</button>&nbsp;
        <button mat-raised-button color="accent" (click)="next()"
            [disabled]="selectedOptions.length == 0">{{btn}}</button>
        <!-- <button mat-dialog-close="true">Close</button> -->
    </div>
</div>